*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #b8fbfb;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#title{
    width: 100%;
    height: 100px;
    padding: 20px 0;
    display: flex;
    flex-shrink: 0;
}
#title_player{
    width: 20%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 4em;
    font-weight: 600;
    flex-shrink: 0;
}

#title_board{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: end;
}

.title_div{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12em;
    font-weight: 900;
}



#title_computer{
    width: 20%;
    height: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    font-size: 6em;
    font-weight: 600;
    flex-shrink: 0;
}

#game{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

#player{
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}
.option_cover{
    width: 100px;
    height: 150px;
}
.option{
    background-color: #b8fbfb;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    top: 0;
    left: 0;
    cursor: pointer;
}
.option_new{
    width: 100px;
    height: 100px;
    transition: 0.5s;
    top: 0;
    left: 0;
}

.computer_option{
    background-color: #b8fbfb;
    width: 100px;
    height: 100px;
    transition: 0.5s;
    top: 0;
    left: 0;
    cursor: pointer;
    transform: rotate(180deg);
}
#game_board{
    width: 60%;
    height: 80%;
    padding: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#board{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#board div{
    width: 100px;
    height: 100px;
}



#announce{
    width: 70%;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    font-size: 3.2em;
    font-weight: 600;
}

#computer{
    width: 20%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
}